.thankyou__hero {
  width: 100%;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.413), rgba(0, 0, 0, 0.726)),
    url("/Assets/Relax.jpg") no-repeat center / cover;
  margin-bottom: 5%;
}
.thankyou__hero__container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thankyou__hero__container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.thankyou__hero__container h2 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.thankyou__button {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 0.5rem 2em;
  margin-top: 2rem;
  color: black;
  border: none;
}

.thankyou__button:hover {
  background-color: #8b5e3b;
  color: #ffffff;
  cursor: pointer;
}
